<div class="container-1">
    <div class="container-1-1">
        <div class="text-bold">{{plugin.shortName}}</div>
        <div class="text-regular">{{plugin.name}}</div> 
    </div>
    <div class="container-1-2">
        <svg xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="90" height="30" rx="10"/>
            <text class="text-regular" x="50%" y="50%">Run</text>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="90" height="30" rx="10"/>
            <text class="text-regular" x="50%" y="50%">Information</text>
        </svg>  
    </div>  
</div>
