@keyframes flip {
    0% { margin-top: 0px;  }
    50% { margin-top: 0px;  }
    100% { margin-top: -25px; }
}

.plugins-browser {
    width: 700px;
    height: 400px;
    .container-1 {
        display: flex;
        width: 100%;
        .container-1-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 3px 0px 5px;

            transition: all var(--animation-duration);
            input {
                margin: 5px;
                text-align: center;
            }
            .container-1-1-1 {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                height: 320px;                

                transition: all var(--animation-duration);
                overflow-y: auto;
            }
        }
        .container-1-2 {
            width: 50%;
            height: 352px;
            margin: 30px 10px 0px 0px;
            
            border-radius: 5px;
            overflow: hidden;
        }
    }
}