<div class="plugins-browser">
    <div class="container-1-1">
        <div class="container-1-1-1">
            <div class="container-1-1-1-1">
                <div class="text-bold">
                    Plugins 
                    <span>Browser</span>
                </div>
                <div class="text-bold container-1-1-1-1-1">
                    Hello, 
                    <span>User!</span>
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="11" r="10" />
                    </svg>
                </div>
            </div>
        </div>
        <input class="text-regular"
            type="text"
            placeholder="Search plugin">
        <div class="container-1-1-2">
            <div class="container-1-1-2-1"
                *ngFor="let plugin of plugins">
                <div class="container-1-1-2-1-1">
                    <div class="text-bold">{{plugin.shortName}}</div>
                    <div class="text-regular">{{plugin.name}}</div> 
                </div>
                <div class="container-1-1-2-1-2">
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="90" height="30" rx="10"/>
                        <text class="text-regular" x="50%" y="50%">Run</text>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="90" height="30" rx="10"/>
                        <text class="text-regular" x="50%" y="50%">Information</text>
                    </svg>  
                </div>               
            </div>
        </div>
    </div>
    <div class="container-1-2">
        <svg  xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="50" height="20" rx="10" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg"
            (click)="close()">
            <rect x="1" y="1" width="50" height="20" rx="10" />
        </svg>       
    </div>
</div>

